* {
    /* margin: 0px;
    padding: 0px;
    border: 1px solid red; */
}
.bgblue { 
    background-color: blue;
}
.bgwhite {
    background-color: white;
}
.square {
    width: 100px;
    height: 100px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.upTriangle {
    width: 0px; 
    height: 0px; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid blue;
}
.pacman{
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-top: 50px solid blue;
    border-left: 50px solid blue;
    border-bottom: 50px solid blue;
    border-radius: 50%;
}
h4 {
    margin-bottom: 10px;
}