<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ninja Money</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div class="wrapper">
            
            <div class="header">
                <form action="/reset" method="post" class="reset">
                    <input type="submit" value="RESET!">
                </form>
                <span class="goldlabel">Your Gold:</span><textarea name="currentgold" id="currentgold" cols="10" rows="1">{{ currentgold }}</textarea>
            </div>

            <div class="main">
                <div class="farm makeinlineblock smallbox">
                    <h2>Farm</h2>
                    <h3>(earns 10-20 golds)</h3>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="space" value = "0">
                        <input type="submit" value="Find Gold!" class="submitsizing">
                    </form>
                </div>

                <div class="cave makeinlineblock smallbox">
                    <h2>Cave</h2>
                    <h3>(earns 5-10 golds)</h3>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="space" value = "1">
                        <input type="submit" value="Find Gold!" class="submitsizing">
                    </form>
                </div>

                <div class="house makeinlineblock smallbox">
                    <h2>House</h2>
                    <h3>(earns 2-5 golds)</h3>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="space" value = "2">
                        <input type="submit" value="Find Gold!" class="submitsizing">
                    </form>
                </div>

                <div class="casino makeinlineblock smallbox">
                    <h2>Casino</h2>
                    <h3>(earns/takes 0-50 golds)</h3>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="space" value = "3">
                        <input type="submit" value="Find Gold!" class="submitsizing">
                    </form>
                </div>
            </div>

            <div class="footer">
                <p>Activities:</p>
                <textarea name="activityLog" id="activityLog" cols="155" rows="22">{{ activity_log }}</textarea>
            </div>

        </div>
    </body>
</html>