<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Delete a course</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'courses_app/css/confirmpage.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <div class="confirmation_part">
                <h1>Are you sure you want to delete the following course?</h1>
                <div class="name_row">
                    <h3 class="tag">Name : </h3>
                    <h3 class="content">{{ course.name }}</h3>
                </div>
                <div class="content_row">
                    <h3 class="tag">Description</h3>
                    <h3 class="content">{{ course.description }}</h3>
                </div>
            </div>
            <div class="button_part">
                <form action="/" method="post">
                    {% csrf_token %}
                    <input class="no_button" type="submit" value="No">
                </form>
                <form action="/destroyprocess/{{ course.id }}" method="post">
                    {% csrf_token %}
                    <input class="yes_button" type="submit" value="Yes! I want to delete this">
                </form>
            </div>
            

        </div>
    </body>
</html>