<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log In Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <h1>Log In</h1>
            <div class="flash_error">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                                <br>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <form action="/loginprocess" method="post">
                <div class="userid_row">
                    <label for="userid">ID: </label>
                    <input type="text" name="userid" id="userid">
                </div>
                <div class="password_row">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                </div>
                
                <div class="submit_row">
                    <input type="submit" value="Log In">
                </div>
            </form>
            <div class="registration_row">
                <form action="/registration" method="get">
                    <input type="submit" value="Registeration Page">
                </form>
            </div>
        </div>
    </body>
</html>