<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <h1>Registration</h1>
            <div class="flash_error">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                                <br>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <form action="/registrationprocess" method="post">

                <div class="userid_row">
                        <label for="userid">User ID: </label>
                        <input type="text" name="userid" id="userid" placeholder="Enter your desire ID">
                </div>

                <div class="firstname_row">
                    <label for="firstname">First Name: </label>
                    <input type="text" name="firstname" id="firstname" placeholder="(eg) John / Jane">
                </div>
                <div class="lastname_row">
                    <label for="lastname">Last Name: </label>
                    <input type="text" name="lastname" id="lastname" placeholder="(eg) Dow">
                </div>
                <div class="email_row">
                    <label for="email">Email: </label>
                    <input type="text" name="email" id="email" placeholder="(eg) abc123@gmail.com">
                </div>
                <div class="password_row">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" placeholder="more than 8">
                </div>
                <div class="confirmation_password_row">
                    <label for="confirmation_password">Password Confirmation: </label>
                    <input type="password" name="confirmation_password" id="confirmation_password" placeholder="more than 8">
                </div>
                <div class="registration_row">
                    <input type="submit" value="Registration">
                </div>
            </form>
            <div class="login_row">
                <form action="/" method="get">
                    <input type="submit" value="Log In Page">
                </form>
            </div>
        </div> 
    </body>
</html>