<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>New Animal Create Form Page</title>
        <link rel="stylesheet" href="/new_form.css">
    </head>

    <body>
        <div class="wrapper">
            <h1>Enter new animal's name</h1>
            <form action="/dashboard" method="post">
                <div class="name_row">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="submit_row">
                    <input type="submit" value="Let's GO!!!!">
                </div>
            </form>
            <form action="/" method="get">
                <input type="submit" value="Go back to Main Page!!">
            </form>
        </div>
    </body>

</html>