<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Book and Review</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'belt_reviewer_app/css/bookinfo.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <div class="header_contents">
                <a href="/books">Home</a>
                <a href="/logoutprocess">Logout</a>
            </div>
            <div class="review_part inline_block_display_box">
                <h1>{{ book_name }}</h1>
                <h2>Author(s) : 
                    {% if book_authors %}
                        {% for author in book_authors %}
                            {{ author.name }} 
                        {% endfor %}
                    {% endif %}
                </h2>
                <h3>Reviews:</h3>
                {% if not reviews %}
                    <h4>No reviews!</h4>
                {% else %}
                    {% for review in reviews %}
                        <p>================================================</p>
                        <p>Rating: {{ review.rating }}</p>
                        <p><a href="/users/{{ review.user.id }}">{{ review.user.name }}</a> says: {{ review.review }}</p>
                        <p>Posted on {{ review.created_at }}</p>
                        {% if review.user.id == login_id %}
                            <a href="/deletereview/{{ review.id }}">Delete This Review</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="add_review_part inline_block_display_box">
                <h3>Add a Review:</h3>
                <form action="/addreviewprocess/{{ book_id }}" method="post">
                    {% csrf_token %}
                    <textarea name="review" id="review" cols="85" rows="10"></textarea>
                    <label for="rating">Rating : </label>
                    <select name="rating" id="rating">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3 selected>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                    <p><input type="submit" value="Submit Review"></p>
                </form>
            </div>
            
        </div>
    </body>
</html>