<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Books Home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'belt_reviewer_app/css/book.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <div class="header_contents ">
                <p class="inline_box">Welcome {{ user_name }}</p>
                <a href="/books/add" class="inline_box">Add Book and Review</a>
                <a href="/logoutprocess" class="inline_box">Logout</a>
            </div>
            <div class="book_review_contents inline_box">
                <h4>Recent Book Reviews:</h4>
                {% for review in reviews %}
                    <a href="/books/{{ review.book.id }}"><h2>{{ review.book.name }}</h2></a>
                    <p>Rating : {{ review.rating }}</p>
                    <p><a href="/users/{{ review.user.id }}">{{ review.user.name }}</a> says : {{ review.review }}</p>
                    <p>Posed on {{ review.created_at }}</p>
                {% endfor %}
            </div>
            <div class="other_book_with_review_contents inline_box">
                <h4>Other Books with Reivews:</h4>
                {% for book in books %}
                    <a href="/books/{{ book.id }}"><p>{{book.name}}</p></a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>