<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Dojos</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dojos.css') }}">
    </head>
    <body>
        <h1 class="header">This is sign up form</h1>
        <form action="#" method="get">
            <label for="fullname" class="myname">Name: </label>
            <input type="text" name="fullname" id="" placeholder="(e.g) John/Jane Dow"><br>
            <label for="email" class="myemail">Email: </label>
            <input type="email" name="email" id="" placeholder="(e.g) abc@defgh.com"><br>
            <input type="submit" value="Click Me!">
        </form>
    </body>
</html>
