/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}
.wrapper {
    padding: 20px;
}
.header{ 
    height: 150px;
    background-color: green;
}
.navigation{
    height: 300px;
    background-color: blue;
}
.main-content{
    background-color: red;
}
.sub1, .sub2, .sub3 {
    height: 200px;
    background-color: yellow;
}
.sub4 {
    height: 200px;
    background-color: purple;
}
@media only screen and (max-width: 480px) {
    .wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
        background-color: silver;
    }
    .header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .navigation {
        display: none;
    }
    .main-content {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto;
    }
    .sub1 {
        grid-column : 1 / 2;
        grid-row: 1 / 2;
    }
    .sub2 {
        grid-column : 1 / 2;
        grid-row: 2 / 3;
    }
    .sub3 {
        grid-column : 1 / 2;
        grid-row: 3 / 4;
    }
    .sub4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
        background-color: silver;
    }
    .header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .navigation {
        display: none;
    }
    .main-content {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto;
    }
    .sub1 {
        grid-column : 1 / 2;
        grid-row: 1 / 2;
    }
    .sub2 {
        grid-column : 2 / 3;
        grid-row: 1 / 2;
    }
    .sub3 {
        grid-column : 1 / 2;
        grid-row: 2 / 3;
    }
    .sub4 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
}
@media only screen and (min-width: 1025px){
    .wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
        background-color: silver;
    }
    .header {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    .navigation {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .main-content {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
        padding: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto auto;
    }
    .sub1 {
        grid-column : 1 / 2;
        grid-row: 1 / 2;
    }
    .sub2 {
        grid-column : 2 / 3;
        grid-row: 1 / 2;
    }
    .sub3 {
        grid-column : 3 / 4;
        grid-row: 1 / 2;
    }
    .sub4 {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
}