* {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}
.wrapper{
    width: 1400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
img {
    width: 300px;
    height: 185px;
    margin: 20px;
}
.detail{
    margin: 20px;
    width: 600px;
    padding: 0px 40px 40px 40px;
    text-align: initial;
    border: 10px solid silver;
    border-radius: 20px;
    display: inline-block;
}
.detailheader {
    padding: 0px 20px;
    background-color: white;
    display:inline-block;
    position: relative;
    left: 30px;
    top: -30px;
}
.detailwords {
    margin-bottom: 40px;
}
.detailname {
    margin-bottom: 20px;
}