* {
    margin: 0px;
    padding: 0px;
    border: 1px solid red;
}
.backcolor1 {
    background-color: #B3B3B3;
}
.backcolor2 {
    background-color: #CCCCCC;
}
.backcolor3 {
    background-color: #FBFF94;
}
.textbold {
    font-weight: bold;
}
@media only screen and (max-width: 480px) {
    .sm-1 {
        width: 100%;
    }
    .med-1 {
        display: none;
    }
    .lg-1 {
        display: none;
    }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .sm-1 {
        display: none;
    }
    .med-1 {
        height: 100%;
    }
    .lg-1 {
        display: none;
    }
}
@media only screen and (min-width: 1024px) {
    .sm-1 {
        display: none;
    }
    .med-1 {
        display: none;
    }
    .lg-1 {
        width: 100%;
    }
}
