* {
    /* border: 1px solid red; */
}

.wrapper {
    margin: 50px;
    border: 1px solid black;
    border-radius: 10px;
    width: 450px;
    padding: 50px;
}

form label, form input {
    display: block;
    font-size: 20px;
    width: 250px;
    margin: 10px;
}

#submit {
    width: 100px;
}

form {
    margin-bottom: 50px;
}

a {
    font-size: 20px;
}