* {
    /* border: 1px solid red; */
}

.wrapper {
    margin: 50px;
    border: 1px solid black;
    border-radius: 10px;
    width: 900px;
    padding: 50px;
}

table {
    text-align: center;
    margin: 20px;
}

table, tr, td, th {
    font-size: 20px;
    border: 1px solid black;
}

.column1 {
    width: 50px;
}

.column2 {
    width: 150px;
}

.column3 {
    width: 200px;
}

.column4 {
    width: 200px;
}

.column5 {
    width: 200px;
}

a {
    font-size: 20px;
}