/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 15px;
}
#header{
    height: 150px;
    background-color: green;
    margin-bottom: 15px;
}
#navigation{
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
#main_content{
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    padding: 15px;
}
.subcontents{
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-right: 10px;
}
#advertisement{
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 15px;
}

