* {
    /* border: 1px solid red; */
}

.wrapper {
    padding: 40px;
    width: 500px;
    font-size: 20px;
}

div div, div label {
    padding: 5px;
}

span {
    padding: 10px;
    display: block;
    text-align: right
}

#comment_label {
    display: block;
}