* {
    /*border: 1px solid black;*/
}

/******** This part is changing unordered list's bullet to arrow   **********/

.mainblueleft li {
  list-style-type: none;
  position: relative;
  padding-left: 0px;
}

.mainblueleft li:before {
  content: "\00BB \0020";
  font-size: 20px;
  position: relative;
  top: 0px;
  left: 0px;
  color: #BEB030;
}

.maincontentswhite li {
    list-style-type: square;
}

.wrapper {
    width: 970px;
    background-color: #1B4F78;
}
.headercontents {
    padding: 30px;
    vertical-align: middle;
}
.headercontents img {
    width: 300px;
    display: inline-block;
    margin-right: 330px;
}
.searchandtextsize {
    display: inline-block;
    vertical-align: top;
}
.searchandtextsize p {
    color: white;
    margin: 0px;
    text-align: right;
}
.searchandtextsize form {
    background-color: #444444;
    padding: 15px 25px 15px 40px;
    border-radius: 10px;
}
.searchandtextsize span {
    color: black;
}
.searchandtextsize a:link, .menubar a:link {
    color: #A09A13;
}
.searchinput {
    height: 30px;
    font-size: 15px;
}
::-webkit-input-placeholder { /* for Chrome/Opera/Safari */
    text-align: center;
}
.menubar {
    margin-left:5%;
    width: 90%;
    text-align: center;
    background-color: #3579AF;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.menubar a:link, .mainblueleft a:link {
    color:white;
}
.menubar a{
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
}
.maincontentsblue {
    padding: 0px 20px;
    text-align: center;
}
.mainblueleft, .mainblueright {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.mainblueleft {
    margin-right: 5%;
}
#mainblueleftul {
    padding-left: 0px;
}
.mainblueright {
    color: white;
    width: 60%;
    margin-left: 5%;
}
#mainblueleftul li {
    margin-bottom: 5px;
}
.pyellow {
    color: #CFBA27;
    font-style: italic;
    font-size: 20px;
    margin: 10px;
}
.maincontentswhite {
    padding: 0px 20px 0px 20px;
    background-color: white;
}
.whiteleft, .whiteright {
    text-align: center;
    margin: 5px 15px 5px 15px;
    border-top: 3px solid #6AA6D7;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.whiteleft h3, .whiteright h3 {
    font-size:
    margin: 10px 0px;
    text-align: center;
}
.whiteleft {
    padding-left: 60px;
}
.whiteleft p {
    padding: 0px 20px;
}
.whiteleft ul {
    padding-left: 80px;
    padding-right: 50px;
}
.whiteright {
    padding-right: 60px;
}
.whiteright  p{
    padding-left: 40px;
    padding-right: 8px;
}
.maincontentswhite a:link {
    color: #70BCF9;
}
.footercontents {
    background: linear-gradient(#154468, #2570AE);
    color: #64A1D1;
    font-size: 9px;
    text-align: center;
    padding: 50px 100px 5px 100px;
}
.footercontents a:link {
    color: #64A1D1;
    font-size: initial;
    margin: 30px;
    text-decoration: none;
}
