* {
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.wrapper {
    padding: 0% 3% 3% 3%;
    width:1000px;
}
#sitename {
    display: inline-block;
}
#sitename {
    font-size: 40px;
    margin-top: 10px;
    vertical-align: middle;
    margin-left: -10px;
}
#bluebox {
    background: linear-gradient(#1865A2, #69A4CE, #1865A2);
    padding: 10px 10px 10px 20px;
    color: white;
    font-size: 25px;
    
}
.mainleft {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding: 0px 20px 0px 10px;
    margin-right: 5px;
}
.mainright {
    width: 70%;
    display: inline-block;
}
.mainrighttopheader{
    margin-bottom:10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #BBBBBB;
}
.textblue {
    color: #2883C9;
}
.textred {
    color: red;
}
.textwhite {
    color: white;
}
.makebutton {
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
}
.maincontents {
    background: linear-gradient(#E4E4E4,white);
    padding-right: 10px;
}
.textcenter {
    text-align: center;
}
#adtext {
    display: block;
    padding: 20px 15px;
}
.mainleftupper {
    
    border-bottom: 2px solid #C0C0C0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.mainleftlower {
    background-image: url("ad_background.png");
    /* width: 300px; */
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
}
.textsize20 {
    font-size: 25px;
}
.bgblue {
    background: linear-gradient(#5998C5,#22699E);
    margin-bottom: 5px;
}
.bgorange {
    background: linear-gradient(#F2AB49,#FF6600);
}
.mainleftlower{ 
    text-align: center;
    
}
.mainheaderright {
    display:inline-block;
    vertical-align: middle;
    text-align: right;
}
.phonenumber {
    font-size: 30px;
    color: #39D0E5;
}
#bgbluesky {
    background: linear-gradient(#1EE9FC,#00BFD1,#1EE9FC);
    padding: 13px;
    font-size: 20px;
    border-radius: 8px;
}
#ninjaimage{
    width: 100px;
    display: block;
    margin: 0px 0px 25px 75px;
}
#ptag1 {
    display: inline-block;
    margin-right: 400px;
    color: #236DA6;
    font-size: 20px;
}
.ptag2 {
    font-size: 10px;
    text-align: right;
}
#mlup1 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}
#mlup2 {
    font-size: 15px;
    padding-right: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}
#globeimage {
    width: 130px;
    height: 130px;
    vertical-align: middle;
    margin-bottom: -25px;
}
#homelogo {
    width: 20px;
    height: 20px;
}
#phonelogo {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}
#serverclientimage {
    width: 400px;
    height: 150px;
    margin-left: 140px;
    margin-bottom: 30px;
}
#htmlimage {
    width: 130px;
    height: 130px;
    display:inline-block;
    vertical-align: middle;
    margin-right: 20px;    
}
.maincontents h3 {
    color: #1867A3;
}
.ptag3{
    margin: 10px 0px;
}
ul {
    margin: 0px 0px 30px 40px;
}
li {
    margin-bottom: 10px;
}
.textmainblue {
    color: #1FAABD;
}
ol{
    margin: 10px 0px 0px 40px;
}
.bluebox {
    border: 2px solid #0D85E5;
    padding: 15px;
}
#blueboxtext {
    display: inline-block;
    width: 480px;
    vertical-align: middle;
}
#blueboxtext h3 {
    margin-bottom: 10px;
}
#blueboxtext p {
    margin-bottom: 7px;
}
#linkhere {
    text-decoration: none;
}
#linkhere:link {
    color: #35B2C3;
}
#linkhere:visited {
    color: #35B2C3;
}