<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Car Add Page</title>
        <link rel="stylesheet" href="/stylesheets/carsnew">
        <link rel="shortcut icon" href="/cars/new/flowerfavi" type="image/jpg">
    </head>
    <body>
        <div class="wrapper">
            <form action="#" method="post">
                <label for="carname">Image Name : </label>
                <input type="text" name="carname" id="carname"><br>
                <label for="imagefile">Upload File : </label>
                <input type="file" name="imagefile" id="imagefile">
            </form>
        </div>
    </body>
</html>