* {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}
.wrapper {
    display: grid;
    grid-template-columns: 60px 60px 60px 20px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;      /* Column : 19 */
    grid-template-rows: 59px 59px 59px 59px 59px 59px 59px 59px 20px 59px 59px;      /* row : 10 */
    grid-gap: 2px;
    padding: 20px 20px;
    background-color: #EEEEEE;
    align-items: center;
    text-align: center;
}
.textalignstart {
    align-self: start;
}
p {
    font-size: 13px;
}
.textsize25 {
    font-size: 25px;
}
.textblue {
    color: #0000A0;
}
.textred {
    color: red;
}
.cellbordergray{
    border: 2px solid #7F8284;
}
.bgblue {
    background-color: #569EF9;
}
.bgpinky {
    background-color: #FF9899;
}
.bgyellow {
    background-color: #FFC83C;
}
.bggreen {
    background-color: #00CA41;
}
.row01col18 {
    grid-column-start: 20;
    grid-column-end: 21;
}
.row02col13, .row03col13 {
    grid-column-start: 15;
    grid-column-end: 16;    
}
.row08col00, .row08col00, .row09col00 {
    grid-column-start: 1;
    grid-column-end: 4;    
}
.dummycell1 {
    grid-column-start: 4;
    grid-column-end: 5;
}

.dummycell2 {
    grid-column-start: 1;
    grid-column-end: 21;
}