* {
    /* border: 1px solid red; */
}

.wrapper {
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
    font-size: 20px;
    padding: 30px;
    width: 800px;
}

form {
    padding : 20px;
}

form div {
    margin: 20px 0px;
    height: 50px;
}

ul {
    margin: 0px;
}

input { 
    font-size: 20px;
}

div label, div input {
    display: inline-block;
    vertical-align: middle;
}

div label {
    width : 40%;
}

div input {
    width : 58%;
}

.button_decoration{
    width: 100px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.registration_button_row, .login_button_row {
    text-align: right;
}

.redtext {
    color: red;
}
