* {
    /* border: 1px solid red; */
}

.wrapper {
    margin: 50px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 800px;
    font-size: 20px;
}

input {
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.greentext {
    color:green;
}