* {
    /* border: 1px solid red; */
}

.wrapper {
    width: 1000px;
    text-align: center;
    padding: 20px;
}

.header {
    text-align: left;
    margin: 20px;
}
.goldlabel{
    margin-right: 20px;
}
.makeinlineblock{
    display:inline-block;
}

.goldlabel, #currentgold{
    vertical-align: middle;
}

#currentgold{
    font-size: 15px;
}

.smallbox {
    padding: 20px;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: springgreen;
}

.footer {
    padding: 20px;
}

.footer p {
    text-align: left;
}

.reset {
    margin-bottom: 20px;
}

.submitsizing {
    font-size: 16px;
    width: 100px;
}
