.wrapper {
    width: 1000px;
    background-color: #F2F2F2;
}
.headercontents h1, h2{
    display: inline-block;
    vertical-align: middle;
}
.headercontents h1{
    margin-left: 3%;
    margin-right: 40%;
}
.maincontents {
    background: radial-gradient(#936E80, #0F0508);
    padding: 25px 25px 10px 25px;
    background-color: #735664;
}
.photo {
    background-color: #C0C0C0;
    width: 400px;
    padding: 10px;
    display: inline-block;
    margin-right: 20px;
}
.about {
    background: linear-gradient(to right, #FEFEFE, #E5B9DC);
    background-color: #E0CDDC;
    width: 500px;
    height: 283px;
    display: inline-block;
    vertical-align: top;
}
.about h3 {
    background: linear-gradient(#C0C0C6,#898593,#C0C0C6);
    color: #FFFFFF;
    background-color: #9A97A2;
    margin-top: 0px;
    padding: 15px 10px;
}
.about p, a {
    padding: 0px 10px;
}
.lamode, .familycontacts, .fiveeleven {
    background: linear-gradient(to right, #FEFEFE, #E5B9DC);
    width: 300px;
    padding-bottom: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
.familycontacts {
    margin: 20px 18px;
}

.lamode h3, .familycontacts h3, .fiveeleven h3{
    color: #FFFFFF;
    background: linear-gradient(#C0C0C6,#898593,#C0C0C6);
    background-color: #9A97A2;
    margin: 0px;
    padding: 10px;
    text-align: initial;
}
#lamodeimage, #familycontactsimage, #fiveelevenimage {
    width: 300px;
    height: 180px;
}
.lamode p, .familycontacts p, .fiveeleven p {
    padding: 0px 10px;
    text-align: initial;
    height: 150px;
}
.lamode h4, .familycontacts h4, .fiveeleven h4 {
    display: block;
    color: #FFFFFF;
    background: linear-gradient(#C0C0C6,#898593,#C0C0C6);
    background-color: #9A97A2;
    margin-bottom: 0px;
    padding: 10px 20px;
    text-align: initial;
}
.lamode a, .familycontacts a, .fiveeleven a {
    background-color: #238262;
    color: #FFFFFF;
    display:inline;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
}
.stackimages {
    margin: 10px 10px 20px 10px;
    text-align: initial;
}
.stackimages img {
    margin-right: 2px;
}

.stacksize {
    width: 50px;
    height: 50px;
}
.footercontents {
    text-align: center;
}
.footercontents p {
    margin: 10px;
}
.footercontents a {
    font-style: italic;
    padding: 0px;
}
.footimage {
    width: 20px;
    height: 20px;
}

