<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <h1>Registration Form</h1>

            <form action="/validation" method="post">
                
                <div class="firstname_row">
                    <label for="firstname">First Name: </label>
                    <input type="text" name="firstname" id="firstname" placeholder="e.g. John/Jane">
                </div>

                <div class="lastname_row">
                    <label for="lastname">Last Name: </label>
                    <input type="text" name="lastname" id="lastname" placeholder="e.g. Dow">
                </div>

                <div class="birth_row">
                    <label for="birthdate">Birth Date:</label>
                    <input type="date" name="birthdate" id="birthdate" required>
                </div>

                <div class="email_row">
                    <label for="email">Email: </label>
                    <input type="text" name="email" id="email" placeholder="e.g. abcdef@gmail.com">
                </div>

                <div class="password_row">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" placeholder="more than 8 characters">
                </div>

                <div class="passwordconfirm_row">
                    <label for="passwordconfirm">Password Confirm: </label>
                    <input type="password" name="passwordconfirm" id="passwardconfirm" placeholder="more than 8 characters">
                </div>

                <div class="submit_row">
                    <input type="submit" value="Registration" id="submit">
                </div>

            </form>
        </div>

        <div class="error_messages">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li><br>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        </div>

    </body>
</html>