.wrapper {
  border: lightgreen 5px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  height: 700px;
  overflow-y: scroll;
}

.note_div {
  border: lightseagreen 2px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(179, 203, 226);
}

span {
  text-align: right;
}

p {
  margin: 2px 0px;
}