* {
    /* border: 1px solid red; */
}

.wrapper {
    width: 1400px;
}

.word_form_box, .info_box {
    vertical-align: top;
    display : inline-block;
    width: 600px;
}

.word_form_box {
    padding: 150px 40px;
    font-size : 20px;
    border-right: 3px solid black
}
.word_form_box form div input {
    font-size: 20px;
}
.word_row label, .word_row input {
    display: inline-block;
}
.word_row input {
    width: 500px;
    margin-left: 50px;
}

.color_row input {
    margin: 0px 0px 10px 50px;
}
.color_row {
    padding-bottom: 10px;
}

.font_big_row, .submit_row {
    padding: 10px;
}

.submit_row {
    text-align: right;
    padding-right: 50px;
}

.info_box {
    height: 560px;
    border-left: 3px solid black;
    padding: 40px;
}

.info_box form {
    padding: 20px;
    text-align: right;
    font-size: 20px;
}

.info_box form input {
    font-size: 20px;
}

.redfont {
    color: red;
}

.greenfont {
    color: green;
}

.bluefont {
    color : blue;
}

.font_big {
    font-size : 40px;
}

.info_box div h4, .info_box div h5 {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}

#time {
    text-align: right;
}