* {
    /* border: 1px solid red; */
}

.wrapper {
    margin: 50px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 800px;
}

.header_contents {
    text-align: right;
    padding: 10px 50px;
}

.header_contents a {
    margin: 0px 30px;
}

.add_book_and_review_part {
    padding: 0px 30px;
}

.add_book_and_review_part form{
    padding: 30px;
}

div label {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

div {
    margin: 20px 0px;
}



