* {
    /* border: 1px solid red; */
}

.wrapper {
    margin: 50px;
    padding: 30px;
    width: 900px;
    border: 1px solid black;
    border-radius: 10px;
}

h2 {
    display: inline-block;
}

.header_contents {
    padding: 0px 30px;
}

.header_contents a{
    margin-right: 50px;
}

.inline_box {
    display: inline-block;
}

.header_contents p{
    margin-right: 50%;
} 

.book_review_contents{
    width: 50%;
    padding: 0px 30px;
}

.other_book_with_review_contents {
    width: 29%;
    padding: 150px 30px;
    vertical-align: top;
}


