*{
    /* border: 1px solid red; */
}

.wrapper{
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
    padding: 30px;
    width: 1050px;
}

.header_contents a{
    margin: 0px 20px;
}

.header_contents {
    padding: 0px 30px;
    text-align: right;
}

.inline_block_display_box {
    display: inline-block;
}

.review_part {
    width: 45%;
}

.add_review_part {
    vertical-align: top;
    width: 45%;
    margin: 100px 0px;
}

