* {
    /* border: 1px solid red; */
}

.wrapper {
    margin: 50px;
    padding: 100px;
    border: 1px solid black;
    border-radius: 10px;
    width: 1000px;
}

.header_contents {
    padding : 30px;
    text-align: right;
}

.header_contents a {
    margin: 0px 30px;
}

.label {
    display: inline-block;
    width: 200px;
}

.review_book_list_part {
    margin: 100px 0px 0px 0px;
}
