* {
    /* border: 1px solid red; */
}

.wrapper {
    width: 600px;
    margin: 50px;
    padding: 20px 10px 20px 30px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
}

input {
    font-size: 20px;
    width: 150px;
    
}